<nz-layout class="layout" style="min-height: 100%">
    <nz-header>
        <a href="" id="logo">
            <!-- <img alt="logo" src="./assets/img/zorro.svg"> -->
        </a>
        <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
            <li nz-menu-item>nav 1</li>
            <li nz-menu-item>nav 2</li>
            <li nz-menu-item>nav 3</li>
        </ul>
    </nz-header>
    <nz-content style="padding:0 50px;">
        <nz-breadcrumb style="margin:12px 0;">
            <nz-breadcrumb-item>Home</nz-breadcrumb-item>
            <nz-breadcrumb-item>List</nz-breadcrumb-item>
            <nz-breadcrumb-item>App</nz-breadcrumb-item>
        </nz-breadcrumb>
        <nz-layout style="padding:24px 0; background: #fff">
            <nz-sider [nzWidth]="200" style="background:#fff">
                <ul nz-menu [nzMode]="'inline'" style="height:100%">
                    <li nz-submenu>
                        <span title><i class="anticon anticon-user"></i>user</span>
                        <ul>
                            <li nz-menu-item>option1</li>
                            <li nz-menu-item>option2</li>
                            <li nz-menu-item>option3</li>
                            <li nz-menu-item>option4</li>
                        </ul>
                    </li>
                    <li nz-submenu>
                        <span title><i class="anticon anticon-laptop"></i>todos</span>
                        <ul>
                            <li nz-menu-item><a routerLink="/todoList">todoList</a></li>
                            <li nz-menu-item><a routerLink="/doneList">doneList</a></li>
                        </ul>
                    </li>
                    <li nz-submenu>
                        <span title><i class="anticon anticon-notification"></i>subnav 3</span>
                        <ul>
                            <li nz-menu-item>option9</li>
                            <li nz-menu-item>option10</li>
                            <li nz-menu-item>option11</li>
                            <li nz-menu-item>option12</li>
                        </ul>
                    </li>
                </ul>
            </nz-sider>
            <nz-content style="padding: 0 24px; min-height: 280px;">
                <!-- <app-todo-search></app-todo-search> -->
                <app-add-todo></app-add-todo>
                <router-outlet></router-outlet>
            </nz-content>
        </nz-layout>
        <nz-footer style="text-align: center;">©2018 Implement By Hao</nz-footer>
    </nz-content>
</nz-layout>